@{
    Layout = null;
}
<div style="margin-bottom:15px;background-color:#000000;">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header" style="color:white">
                <h1>現正熱映影片<small>在線熱片<span class="badge">3</span></small></h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="https://s.yimg.com/vu/movies/fp/mpost/67/80/6780.jpg" alt="絕境之南">
                <div class="caption">
                    <h3>絕境之南</h3>
                    <a href="javascript:Introduce();">絕境之南</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="https://s.yimg.com/vu/movies/fp/mpost/66/34/6634.jpg" alt="美女與野獸">
                <div class="caption">
                    <h3>美女與野獸</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="https://s.yimg.com/vu/movies/fp/mpost/67/22/6722.jpg" alt="限時救援">
                <div class="caption">
                    <h3>限時救援</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-push-6">
            <!-- 4:3 aspect ratio -->
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="//aka.ms/ampembed?url=https%3A%2F%2Fmayatp.streaming.mediaservices.windows.net%2Ffde7add3-08b2-4a9d-ba70-42f3eee20318%2Fa60a798a-ebf7-416e-8016-16602287b9ad.ism%2Fmanifest" name="azuremediaplayer" scrolling="no" frameborder="no" align="center" height="280px" width="500px" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-6 col-md-pull-6">
                <per style="color:white">
                    公路上人潮來來去去，如同煙火般絢麗燦爛後卻消失無蹤。荒蕪的公路上，一群人的命運有了致命的連結。想要逃離悲痛過往的兩個男子、一心只想要回家的人、找尋失散親人的男子和展開家族旅遊的一家人，不約而同地走上了奪命公路。他們將被迫與內心最深沉的恐懼交戰，在令人喪膽的公路上展開驚悚之旅。

                    「出路」The Way Out
                    血肉橫飛，身心飽受煎熬虐待的米契與傑克奮力逃離擺脫不了的宿命。更令他們心慌的是，神祕生物緊緊糾纏，虎視眈眈企圖將兩人吞噬！

                    「海妖」Siren
                    巡迴演出的樂團遊覽車意外拋錨，一群人熱心伸出援手要幫助樂團脫困，然而主唱莎蒂卻對這些人的善心感到疑慮，認為他們親切的笑容之下隱藏著不為人知的秘密。短暫相處之後，莎蒂發現好心幫忙的一群人似乎對於樂團的一切瞭若指掌，更讓她感到匪夷所思…

                    「意外」Accident
                    盧卡斯捲入一場嚴重車禍事故，他必須竭盡所能的拯救一名陌生女子的性命。

                    「越獄」Jailbreak
                    丹尼花費了超過十年的時間尋找消失的妹妹潔西，等待已久的他終於在一間酒吧打聽到消息。久違的重逢卻與想像中的截然不同，或許有些消失的東西注定不該被找到…

                    「入口」The Way In
                    珍即將迎接嶄新的大學生活，在離家之前與家人展開最後一次的家族旅遊。一群蒙面歹徒突然闖入，也讓溫馨歡樂的旅途瞬間變調，成了驚悚奪命的血色夢魘！
                </per>
        </div>

    </div>
</div>

