
@{
    ViewBag.Title = "_Introduce";
}
<div class="jumbotron">
    <div >
        <img src="https://s.yimg.com/vu/movies/fp/mpost/66/34/6634.jpg" alt="美女與野獸">

    </div>
</div>
<div>
    今日播映時間
    <ul class="list-group">
        <li class="list-group-item">9:00</li>
        <li class="list-group-item">11:30</li>
        <li class="list-group-item">13:30</li>
        <li class="list-group-item">16:00</li>
        <li class="list-group-item">18:30</li>
    </ul>   
</div>
